Flask
newspaper3k
nltk
psycopg2
Flask-OAuthlib
Werkzeug


Flask
psycopg2
beautifulsoup4
requests
nltk
textblob
authlib
Flask-SQLAlchemy  
Flask-WTF
newspaper3k

psycopg2-binary


werkzeug==2.3.5

gunicorn
